{% extends "layout.html" %}
{% block pageContent %}

    <div class="bodytext aboutText">
        <h1> About This Website </h1>
        <br>
        <p>
            This Website and its main chat page are a project developed for final year project, the aim of this project
            is to create an easy to use chatbot that can assist both those new to DCU's Glasnevin campus and those
            visiting it. Our chatbot is able to give guidance on certain aspects of the college such as directions to
            buildings and lecture halls that may have building codes that confuse those unfamiliar with them.
        </p>
        <br>
        <p>
            It also is able to show users images of some buildings around campus helping to further direct them and
            make them familiar with the campus, it can also answer some of DCU's FAQs such as "How do I get a
            replacement student card?". Further developments could be made on this project to have it more viable in
            a real business setting such as using a neural network at the back end to generate responses but would need
            prior data in order to be implemented.
        </p>

    </div>

{% endblock %}