{% extends "layout.html" %}
{% block pageContent %}

    <div class="bodytext aboutText">
        <h1> Help</h1>

        <p>
            This page aims to further help users new to this application understand how it works and the features it
            has. On this page we will give examples of how to use our chatbot and change some of the display settings,
            this will include both example queries the user can use as well as images of the interface.
        </p>
        <br>
        <h2>Chatbot Display Options</h2>
        <p>
            In order to accommodate for some accessibility cases and to allow you to change some of the colours, fonts
            and text sizes relating to the chat's looks, there is a settings menu beside the text box where the user
            types their query as shown here:
        </p>
            <img src="../static/Assets/images/options_help1.PNG" alt="options button help" class="help-image">
        <p>
            In this options menu there are options for changing the colour of the bots chat box and the users chat box,
            changing the text sizes in those boxes and the overall font type that's used. When the options button is
            pressed you are then presented with the menu below that allows you change those various aspects of the
            chatbot as mentioned earlier.
        </p>
            <img src="../static/Assets/images/options_help2.PNG" alt="options button help" class="help-image">
        <p>
            If you press on the buttons to change the colour of the text boxes a menu should open up, it appears
            differently on each device but should be straight forward to use. The font size is based on regular font
            sizes so choose the one you are most comfortable with. Lastly we have a dropdown menu with some possible
            fonts to chose from they are: times new roman, x, y, z.
        </p>

        <h2>Asking the bot for information</h2>
        <p>
            While the bot can not answer every question you may have about campus there are many areas in which it may
            be able to help you, it can currently handle requests that deal with buildings around campus. These requests
            include showing an image of the building, directions to a building and directions to certain rooms within
            those buildings.
        </p>


    </div>

{% endblock %}